
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Karla:ital,wght@0,300;1,200;1,300&display=swap');

@keyframes zoom-in-zoom-out{
    0%{
        transform:scale(1,1);
    }
    50%{
        transform:scale(1.5,1.5);
    }
    100%{
        transform:scale(1,1);
    }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  position: relative;
  background: rgba(240, 244, 242, 0.7);
}

body{
    background: rgba(240, 244, 242, 0.7);
    margin: 0;
    padding: 0;
    /* --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Exo 2", sans-serif;
    color: var(--color);
    background: var(--bgColor); */
    /* --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem; */

}

ul {
    left: 50%;
}

ul li:hover{
    animation:zoom-in-zoom-out 1s ease infinite;
}


ul li:hover::after {

    transform: scaleX(1);
    transform-origin: bottom left;

}

ul li::after {
    background-color: #559974;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
}

nav {
    width: 90vw;
    height: 50px;
    /* left: 63px;
    top: 59px; */
    background: #F0F4F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#logo {
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    width: 13%;
    /* height: 100%; */
    left: 10%;
    top: -23%;
}

#profile {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 300px;
}

header{
    background: url("user/asset/img/bg-1.png");
}

/* section 2 */


.section-2{
    border-radius: 50%;
    border: var(--borderS) solid var(--bgColor);
    line-height: 0.5;
    padding:0 5rem;
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}



/* end section 2 */